{% extends 'base.html.twig' %}
{% block body %}


    <a href="{{ path('add_product') }}">
        Добавить товар
    </a>
    <a href="{{ path('view') }}">
    Показать список товара
    </a>




{% endblock %}